<% include('../header.ejs') %>
<header>
  <h1>Node Talk</h1>
  <h4>Bem-vindo!</h4>
</header>
<section>
  <p>Bem-vindo <%- usuario.nome %></p>
</section>
<% include('../exit.ejs') %> <% include('../footerclear.ejs') %>
